@import url(/css/reset.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 15rem auto auto;
    grid-template-areas: 
                        "header"
                        "hero"
                        "articles"
                        "footer";
  }

.hero {
    display: grid;
    background-image: url(/assets/images/Image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    filter: brightness(0.7);
    
  }

  #hero-text {
    color: white;
    align-content: center;
    text-align: center;
    font-size: 80px;
}

.article-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
                        "aboutus";                      
}

.article1-container  {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    width: 50%;
    place-self: center;
    gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
                        "head"
                        "top-text"
                        "image"
                        "bottom-text"
                        "cards";
}

.article-head {
    grid-area: head;
    font-size: 24px;
}

.top-text {
    grid-area: top-text;
    color: black;
}

.image4 {
    grid-area: image;
    background-image: url(/assets/images/Image-5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
    margin: 2rem; 
    color: black;
}

.bottom-text {
    grid-area: bottom-text;
    color: black;
}

.test-container {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.product-head {
    font-size: 24px;
}

.flex1 { 
    display: flex;
    border: 5px solid #D8BC69;
    flex-direction: column;
    width: 20rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.product-head {
    margin: 1rem 0 1rem 1rem;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.fab.fa-facebook {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-twitter {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-instagram {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-linkedin {
    color: #D8BC69;
    padding: 0.5rem;
}

.product1 {
    background-image: url(/assets/images/Image-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    margin: 1rem 0 1rem 2.5rem;
}

.product-description {
    display: flex;
    margin: 1rem;
}

.flex2 {
    display: flex;
    border: 5px solid #D8BC69;
    border-radius: 5px;
    flex-direction: column;
    width: 20rem;
}

@media (max-width: 800px) {

    .article1-container  {
        grid-column: 1 / 3;
        grid-row: 3 / 4;   .hero {
            font-size: 355px;
        }
        display: grid;
        width: 50%;
        place-self: center;
        gap: 1rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
                            "head"
                            "top-text"
                            "image"
                            "bottom-text"
                            "cards";
    }

    .test-container {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-top: 5rem;
        margin-bottom: 5rem;
        place-items: center;
    }
    

    .flex1 { 
        display: flex;
        border: 5px solid #D8BC69;
        flex-direction: column;
        width: 20rem;
        border-radius: 5px;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
    
    .product-head {
        margin: 1rem 0 1rem 1rem;
    }
    
    .social-media-icons {
        display: flex;
        flex-direction: row;
        font-size: 24px;
    }
    
    .fab.fa-facebook {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-twitter {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-instagram {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-linkedin {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .product1 {
        background-image: url(/assets/images/Image-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 350px;
        margin: 1rem 0 1rem 2.5rem;
    }
    
    .product-description {
        display: flex;
        margin: 1rem;
    }
    
    .flex2 {
        display: flex;
        border: 5px solid #D8BC69;
        border-radius: 5px;
        flex-direction: column;
        width: 20rem;
    }
}
