@import url(../css/reset.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 15rem auto auto;
    grid-template-areas: 
                        "header"
                        "hero"
                        "articles"
                        "footer";
  }

.hero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url(../assets/images/Image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: 1rem; 
}

.overlay {
    height: 14rem;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }

.heading-1 {
    color: white;
    align-content: center;
    text-align: center;
    padding-top: 4rem; 
    font-size: 80px;
}

.article-container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
                        "aboutus";                      
}

.article1-container  {
    grid-area: aboutus;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
                        "head"
                        "top-text"
                        "image"
                        "bottom-text"
                        "cards";
    margin: 2rem 25rem 2rem 25rem;
}

.article-head {
    grid-area: head;
    font-size: 24px;
}

.top-text {
    grid-area: top-text;
    color: black;
}

.image4 {
    grid-area: image;
    background-image: url(../assets/images/Image-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    margin: 2rem; 
};
 


.bottom-text {
    grid-area: bottom-text;
    color: black;
}

.test-container {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    place-self: center;
}

.product-head {
    font-size: 24px;
}

.flex1 { 
    display: flex;
    border: 5px solid #D8BC69;
    flex-direction: column;
    width: 20rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.product-head {
    margin: 1rem 0 1rem 1rem;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.fab.fa-facebook {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-twitter {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-instagram {
    color: #D8BC69;
    padding: 0.5rem;
}

.fab.fa-linkedin {
    color: #D8BC69;
    padding: 0.5rem;
}

.product1 {
    background-image: url(../assets/images/Image-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    margin: 1rem 0 1rem 2.5rem;
}

.product-description {
    display: flex;
    margin: 1rem;
}

.flex2 {
    display: flex;
    border: 5px solid #D8BC69;
    border-radius: 5px;
    flex-direction: column;
    width: 20rem;
}


@media screen and (min-width: 480px) and (max-width: 1024px) {

    .article-container {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                            "aboutus";                      
    }

    .article1-container  {
        grid-column: 1 / 2;
        grid-row: 1 / 2;   
        display: grid;
        width: 100%;
        max-width: 100VW;
        gap: 1rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
                            "head"
                            "top-text"
                            "image"
                            "bottom-text"
                            "cards";
    }

    .test-container {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 1.1rem;
        place-items: center;
    }
    

    .flex1 { 
        display: flex;
        border: 5px solid #D8BC69;
        flex-direction: column;
        width: 20rem;
        border-radius: 5px;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
    
    .product-head {
        margin: 1rem 0 1rem 1rem;
    }
    
    .social-media-icons {
        display: flex;
        flex-direction: row;
        font-size: 24px;
    }
    
    .fab.fa-facebook {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-twitter {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-instagram {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-linkedin {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .product1 {
        background-image: url(/assets/images/Image-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 350px;
        margin: 1rem 0 1rem 2.5rem;
    }
    
    .product-description {
        display: flex;
        margin: 1rem;
    }
    
    .flex2 {
        display: flex;
        border: 5px solid #D8BC69;
        border-radius: 5px;
        flex-direction: column;
        width: 20rem;
    }
}


@media screen and (min-width: 360px) and (max-width: 480px) {

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 15rem auto auto;
    grid-template-areas: 
                        "header"
                        "hero"
                        "articles"
                        "footer";
    
  }

    .hero {
        background-image: url(../assets/images/Image-4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-bottom: 1rem; 
    }

    .overlay {
        height: 14rem;
        width: 100%;
        max-width: 100vw;
        background-color: black;
        opacity: 0.5;
      }

      .heading-1 {
        color: white;
        align-content: center;
        text-align: center;
        font-size: 80px;
      }

    .article-container {
        display: grid;
        max-width: 85%;
        /* border: 1px solid red; */
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        grid-area: articles;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                            "aboutus"; 
        margin: 0; 
    }

    .article1-container  {
        display: grid;
        width: 100%;
        grid-area: articles;
        gap: 1rem;
        margin: 0;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
                            "head"
                            "top-text"
                            "image"
                            "bottom-text"
                            "cards";
    }

    .article-head {

        grid-area: head;
        font-size: 24px;
        margin: 1rem;  
    }
    
    .top-text {
        grid-area: top-text;
        color: black;
        margin: 1rem; 
    }
    
    .image4 {
        grid-area: image;
        background-image: url(../assets/images/Image-5.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 10rem;
        margin: 2rem; 
        color: black;
    }
    
    .bottom-text {
        grid-area: bottom-text;
        color: black;
        margin: 1rem;  
    }

    .test-container {
        display: grid;
        box-sizing: content-box;
        width: 85%;
        grid-area: cards;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        place-content: center;
    }


    .flex1 { 
        display: flex;
        border: 5px solid #D8BC69;
        flex-direction: column;
        width: 20rem;
        border-radius: 5px;
        place-content: center;
        margin-bottom: 2rem;

    }
    
    .product-head {
        margin: 1rem 0 1rem 1rem;
    }
    
    .social-media-icons {
        display: flex;margin-left: 1rem;
        flex-direction: row;
        font-size: 24px;
    }
    
    .fab.fa-facebook {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-twitter {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-instagram {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .fab.fa-linkedin {
        color: #D8BC69;
        padding: 0.5rem;
    }
    
    .product1 {
        /* display: block; */
        width: 100vw;
        background-image: url(../assets/images/Image-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 350px;
    }
    
    .product-description {
        display: flex;
        margin: 1rem;
    }
    
    .flex2 {
        display: flex;
        border: 5px solid #D8BC69;
        border-radius: 5px;
        flex-direction: column;
        width: 20rem;
    }
}