.footer-container {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    width: auto;
    background-color: #D8BC69;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
                         "disclaimer footer-nav";
    font-size: larger;
    height: 5rem;
    place-items: center;
  }

.disclaimer {
    grid-area: disclaimer;
    margin-left: 14rem;
}

.footer-nav{
    grid-area: footer-nav;
    align-content: center;
    justify-content: center;
    margin: 2rem 5rem 2rem 5rem;
    background-color: #D8BC69;
}

.nav-footer-grid {
    display: grid;
    grid-template-columns: 4rem 7rem 4rem;
    grid-template-areas: "home over_ons contact";
    font-size: larger;
    gap: 1rem;
}

.nav-footer-grid a {
    text-decoration: none;
    font-size: 18px;
    color: black
}

.nav-footer-grid a:hover {
    color: black;
    border-bottom: 5px solid black;
}

@media (max-width: 800px) { 
    .footer-container {
        grid-area: footer;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                            "nav-footer"
                            "disclaimer";
        font-size: larger;
        height: auto;
        background-color: #d8bc69;
    }

    .disclaimer {
        display: grid;
        grid-area: disclaimer;
        margin: 0;
    }

    .footer-nav {
        grid-area: nav-footer;
    }

    .nav-footer-grid {
        display: grid;
        grid-template-columns: 4rem 7rem 4rem;
        grid-template-areas: "home over_ons contact";
        gap: 1rem;
    }

    .nav-footer-grid a {
        text-decoration: none;
        color: black
    }
    
    .nav-footer-grid a:hover {
        color: black;
        border-bottom: 5px solid black;
    }
}